.page_box {
    background-color: #e7e7e7;
    border-radius: 8px;
    height: fit-content;
    padding: 1vw;
}

.text_box {
    font-family: 'Roboto', sans-serif;
    font-size: calc(8px + 1vw );
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
  }