#popup{
    position: fixed;
    /*top: 40%;
    left: 50%;*/
    top: -100px;
    left: 50%;
    
    transform: translate(-50%, -50%);
    width: 30%;
    min-width: 400px;
    height: fit-content;
    padding: 25px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    background: #e7e7e7;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    border-radius: 20px;
}

.blur_container#blur.active{
    filter: blur(5px);
}

#blur.active{
    transition: 1s;
}

.blur_container{
    transition: 0.5s;
}

#popup.active{
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}