body {
    background-color:#1f2034;
}

.op { background-color:hsla(0,0%,100%,.1)!important; }

.navButtons {
	background-color: hsla(0,0%,100%,.0);
    border-radius: .29rem!important;
	border:0px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Roboto', sans-serif;
    font-size:16px;
    font-weight: 500!important;
	padding:12px 26px;
	text-decoration:none;
    text-shadow:0px 1px 0px #000000;
    
}
.navButtons:hover {
	background-color:hsla(0,0%,100%,.1);
}
.navButtons:active {
	position:relative;
	top:1px;
}
.navButtons:focus {
  outline: 0;
  border: none;
}

.user_icon {
    width: 40px;
    height: 40px;
}

.container_row{
    display: grid;
}


section {
	width: 100%;
	position: relative;
	padding: 10%;
}

.counter_one_box{
	width: fit-content;
	height: fit-content;
	float: left;
	width: max(400px,35%);
	margin-right: 5%;
}

.counter_one {
	vertical-align: middle; 
	color: #e7e7e7; 
	float: left;
	width: 100%;
}

.counter_text {
	font-family: 'Roboto', sans-serif;
	font-size: calc(30px + 0.7vw );
	font-weight: bold;
	color:#e7e7e7;
}

.normal_text {
	font-family: 'Roboto', sans-serif;
	color:#e7e7e7;
	font-size: calc(18px + 0.5vw );
	font-weight: lighter;
}

.counter_data_box{
	background-color: #e7e7e7;
	border-radius: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	width: 100%;
	height: 150px;
	transition: 0.5s;
}

.counter_data_box:hover {
	background-color: #ffffff;
	border-radius: 60px;
}








.footer-basic {
	padding:40px 0;
	color:#e7e7e7;
  }
  
  .footer-basic ul {
	padding:0;
	list-style:none;
	text-align:center;
	font-size:18px;
	line-height:1.6;
	margin-bottom:0;
  }
  
  .footer-basic li {
	padding:0 10px;
  }
  
  .footer-basic ul a {
	color:inherit;
	text-decoration:none;
	opacity:0.8;
  }
  
  .footer-basic ul a:hover {
	opacity:1;
  }
  
  .footer-basic .social {
	text-align:center;
	padding-bottom:25px;
  }
  
  .footer-basic .social > a {
	font-size:24px;
	width:40px;
	height:40px;
	line-height:40px;
	display:inline-block;
	text-align:center;
	margin:0 8px;
	color: #e7e7e7;
	opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
	opacity:0.9;
  }
  
  .footer-basic .copyright {
	margin-top:15px;
	text-align:center;
	font-size:13px;
	color:#aaa;
	margin-bottom:0;
  }